<template name="leaderboard">
  {{#if user}}
  <div class="text-center">
    {{#with user.profile}}
    <h1>{{firstName}}</h1>
    {{/with}}
    <h2>{{title}}</h2>
    <div class="row">
      <div class="col-xs-12">
        {{#each friends}}
          {{> leaderboardFriend}}
        {{/each}}
      </div>
    </div>
  </div>
  {{else}}
  <h1>User not identified.</h1>
  <a href="{{pathFor 'home'}}">Homepage</a> {{/if}}
</template>


<template name="leaderboardFriend">
  <div class="col-xs-12 col-sm-6" style='border:solid 1px grey; box-sizing: border-box; border-collapse: collapse;'>
    <!-- shows information of each -->
      <div class="col-xs-12">
        <a href="/user/{{_id}}">{{profile.firstName}}</a><br>
      </div>
       <div class="col-xs-12">
         {{profile.about}}
       </div>
       <div class="col-xs-12">
         friend's total points:{{totalPoints}} <!--{{getFriendTotalPoints _id}}-->
       </div>
       <div class="col-xs-6">
         Post points: {{postPoints}}
       </div>
       <div class="col-xs-6">
         Comment points: {{commentPoints}}
       </div>
       <div class="col-xs-12">
         Achievements<br>
      </div>
       <div class="col-xs-6">
         <img src='/resources/achievementsImages/achievement_firstPost.png' width="50px" height="50px"/> First Comment!
       </div>
       <div class="col-xs-6">
         <img src='/resources/achievementsImages/achievement_firstPost.png' width="50px" height="50px"/> First Post!
       </div>
  </div>
</template>
