<template name="leaderboard">
  {{#if user}}
  <div class="text-center">
    {{#with user.profile}}
    <h1>{{firstName}}</h1>
    {{/with}}
    <h2>{{title}}</h2>
    <div class="row">
      <div class="col-xs-12">
        {{#each friends}}
          {{> leaderboardFriend}}
        {{/each}}
      </div>
    </div>
  </div>
  {{else}}
  <h1>User not identified.</h1>
  <a href="{{pathFor 'home'}}">Homepage</a> {{/if}}
</template>


<template name="leaderboardFriend">
  <div class="col-xs-12 col-sm-6 leaderboardFriendBoard" id="{{_id}}">
    <!-- shows information of each -->
      <div class="col-xs-12">
        <a href="/user/{{_id}}">{{profile.firstName}}</a><br>
      </div>
       <div class="col-xs-12">
         {{profile.about}}
       </div>
       <div class="col-xs-12">
         <span class="glyphicon glyphicon-gift">
           <button type="button" class="btn btn-success btn-sm" id="js-challengeFriend">Challange!</button>
         </span>
       </div>
       <div class="col-xs-12">
         friend's total points:{{totalPoints}}
       </div>
       <div class="col-xs-6">
         Post points: {{postPoints}}
       </div>
       <div class="col-xs-6">
         Comment points: {{commentPoints}}
       </div>
       <div class="col-xs-12">
         Achievements<br>
      </div>
      {{#each achievements}}
        {{> leaderboardUserAchievement}}
      {{/each}}
  </div>
</template>

<template name="leaderboardUserAchievement">
  <div class="col-xs-6">
    {{title}} on {{formatedDate date}}
  </div>
  <div class="col-xs-6">
    <img src="{{image}}" width="50px" height="50px"/>
  </div>
</template>
