<template name="home">
    {{#if currentUser}}
    <section class="col-sm-12">
        {{> post}}
        <!-- option to choose between timelines-->
        <div class="row">
            <a href="#" id="js-myTimeline">My Timeline</a> <a href="#" id="js-globalTimeline">Global Timeline</a> {{#if isMyTimeline}} {{> timeline}} {{else}} {{> timelineGlobal}} {{/if}}
        </div>
    </section>
    {{else}}
    <div class="text-center">
        <h1>Jaunt</h1>
        <h3>Not logged in? click on "Sign In/Up"</h3> {{> timelineGlobal}}
    </div>
    {{/if}}
</template>