<template name="home">
    {{#if currentUser}}
    <div class='row'>
      {{> topbar}}
    <aside class="col-sm-3">
        {{> profile}}
        {{> friendship}}
        <a href="/leaderboard/{{userId}}">
          <img width="40px" height="40px" src="resources/leaderboardImages/leaderboardIcon.png">
           leaderboard</a>
    </aside>
    <section class="col-sm-9">
        {{> post}}
        <!-- option to choose between timelines-->
        {{> timelineLinkOptions}}
    </section>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!--{{> timeline}}-->
        {{> gridTimeline}}
      </div>
    </div>
    {{else}}
    <div class="text-center">
        <h1>Jaunt</h1>
        <h3>Not logged in? click on "Sign In/Up"</h3> {{> timeline}}
    </div>
    {{/if}}
</template>
