<template name="post">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <fieldset>
                    <legend>new post</legend>
                    <div class="row">
                        <div class="col-sm-9">
                            <textarea cols="2" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-lg">
                                Post!
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>