<template name="header">
  <div class="row"></div>
    <header class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" >Jaunt Social Network</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </nav>
        {{> topbar}}
    </header>
</template>
