body {
    /*background-color: cornflowerblue;*/
    background-color: #337AB7;
    background-image: url("resources/bg.jpg");
    background-size: contain;;
}

.container {
    background-color: #FFF;
    width: 780px;
}


/*
client/view/home/home.html
*/

#js-myTimeline {
    padding: 0, 5px 0 5px;
    font-style: none;
}

#js-globalTimeline {
    padding: 0, 5px 0 5px;
    font-style: none;
}

/*## GRID ##*/
/* this is to be used with isotope or masonry*/
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
