/*effects on posts*/

/*animation*/
@keyframes animacao{
	0%{

	}
	100%{
    /*underline*/

      /*##########3*/
		/*color:white;*/
		/*transform:scale(1.2);*/
	}
}

.postMessage{
	overflow: hidden;
}

.postDisplayed{
  /*underline*/
  color: #ff3296;
  position: relative;
	overflow: hidden;
}
.postDisplayed:after{
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 7px;
  /*background-color: #98004a;*/
	background-color: #53a7ea;
  content: "";
  transition: width 0.2s;
}
.postDisplayed:hover{
  /*box-shadow: inset 0 0 0 5px #53a7ea;*/
  /*underline*/
  color: #98004a;
}

.postDisplayed:active{
  /*transform: scale(1.2);*/
}

.postDisplayed:hover:after{
 /*width: 100%;*/
}

/*### COMMENT SESSION ###*/
.commentWrapperOnTimeline{
	border-left: solid 1px grey;
	padding-left: 1.5em;
}

.userNameOnComment{
	box-sizing: border-box;
	font-family: : "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 24px;
}

.textOnComment{
	color: rgb(119, 119, 119);
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 24px;
}
