<template name="timeline">
    <div class="row">
        <fieldset class="col-sm-12">
            <legend>{{timelineTitle}}</legend>
            {{> commentModal}}
            {{#each posts}}
            <blockquote class="lead postDisplayed"  tabindex="0" id="{{_id}}">
              <p>{{{message}}}</p>
                <small>
                  <span class='text-muted'>Author: <a href="/user/{{userId}}">{{name}}</a></span>
                  <span>Date: </span>{{date}}
                  <a href=""><span id="js-commentPost" class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
                </small>
                <div class="commentSession">
                  {{#each comments}}
                  <div class="commentWrapperOnTimeline">
                    <span class='text-muted userNameOnComment'><a href="/user/{{userId}}">{{userName}}</a>:</span>
                    {{#if isEmoticonEnabled}}
                      <span class='textOnComment'>{{{parseEmoticons text}}}</span><br>
                    {{else}}
                      <span class='textOnComment'>{{text}}</span><br>
                    {{/if}}
                  </div>
                  {{/each}}
                </div>
            </blockquote>
            {{else}}
            <p class="lead text-center">
                {{noPostsMessage}}
            </p>
            {{/each}}
        </fieldset>
    </div>
</template>
