<template name="timeline">
    <div class="row">
        <fieldset class="col-sm-12">
            <legend>{{timelineTitle}}</legend>
            {{#each posts}}
            <blockquote class="lead postDisplayed"  tabindex="0">
              <p>{{message}}</p>
                <small>
                  <span class='text-muted'>Author: <a href="/user/{{userId}}">{{name}}</a></span>
                  <span>Date: </span>{{date}}
                </small>
            </blockquote>
            {{else}}
            <p class="lead text-center">
                {{noPostsMessage}}
            </p>
            {{/each}}
        </fieldset>
    </div>

</template>
