.searchFriend{
  border-radius: 20px;
  border: solid 1px grey;
  font-family: monospace;
  padding-left: 9px;
  color: grey;
  font-weight: lighter;
}
.friendsList, .friendsList li{
  text-decoration: none;
  list-style: none;
  z-index: -1;
}

.friendListItem{
  list-style: none;
  text-decoration: none;
}
