<template name="challengeModal">
  <div class="modal fade" id="challengeModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header text-center">
          <h4 class="modal-title">Challenge!</h4>
        </div>

        <div class="modal-body">
          <label for="comment"><small><span class="userNameOnComment">{{userName}}</span> Challenge your friend!</small></label>
          With this challenge your friend will have to make a comment to win 2 points.
          It will cost you 5 points.
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="js-challangeModal-save">Challange</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>
